header {
  position: fixed;
  z-index: 10;
  height: 120px;
  width: 100%;
  background-color: $blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  
  span {
    font-size: $ms-size;
    color: rgb(231, 231, 231);
    margin-right: 3%;
  }

  .siteTitle {
    font-weight: 400;
    font-size: 50px;
    margin-left: 3%;
    font-family: 'Lobster', cursive;
    color: #e9ba69;
   

  }

  #subTitle {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    text-align: center;
  }

  .title-header {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  @media screen and (max-width: 640px) {

    
    height: 95px;
    

    .siteTitle {
      width: 100%;
      font-size: 39px;
      text-align: center;
      margin-top: 4%;


      #subTitle {
        font-size: 13px;
        
      }
    }

    #header-infos {
      font-size: 15px;
      text-align: right;;
    }
  
    
  }
}