header {
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100%;
  background-color: $blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  
  span {
    font-size: $ms-size;
    color: rgb(231, 231, 231);
    margin-right: 3%;
  }

  #siteTitle {
    font-weight: 600;
    font-size: 45px;
    margin-left: 3%;

  }
}